<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.mall.mapper.MallNavMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.mall.domain.MallNav">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
            <result property="imageName" column="image_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="which" column="which" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createOn" column="create_on" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,text,img_url,
        image_name,path,position,
        which,status,create_by,
        create_on
    </sql>
</mapper>
